{
  "swagger": "2.0",
  "info": {
    "description": "API for the new Savings Cost Predictor",
    "version": "0.1.0",
    "title": "Savings Cost Predictor"
  },
  "host": "scp.url",
  "basePath": "/",
  "tags": [
    {
      "name": "Healthcheck",
      "description": "Status of service"
    },
    {
      "name": "Onboarding",
      "description": "For new customers"
    },
    {
      "name": "AWS Only",
      "description": "Will be accessed only by AWS through SNS"
    },
    {
      "name": "Savings",
      "description": "For existing customers, accessed by front-end console"
    }
  ],
  "paths": {
    "/aws/healthcheck": {
      "get": {
        "tags": [
          "Healthcheck"
        ],
        "summary": "Returns service status",
        "description": "Checks if our APIs are online",
        "operationId": "getStatus",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "All services online"
          },
          "500": {
            "description": "Something is wrong",
            "schema": {
              "type": "string",
              "enum": [
                "SpotBidAdvisor is not working",
                "SpotBidPrice is not working",
                "SimilarInstances is not working",
                "Db not working",
                "Redis not working"
              ]
            }
          }
        }
      }
    },
    "/aws/account/register": {
      "post": {
        "tags": [
          "Onboarding"
        ],
        "summary": "Registers user and emails report",
        "description": "Registers the users in our database. Actual computation takes place at this and is emailed to the user",
        "operationId": "awsRegister",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userData",
            "in": "body",
            "required": true,
            "description": "JSON object containing the user information",
            "schema": {
              "$ref": "#/definitions/UserData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details saved"
          },
          "400": {
            "description": "Data sent was not of correct format"
          }
        }
      }
    },
    "/aws/account/new": {
      "get": {
        "tags": [
          "Onboarding"
        ],
        "summary": "Get new UUID and CF template link",
        "description": "Generates a CF template and embeds in it a UUID and uploads it to S3.",
        "operationId": "awsNew",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Generated Data",
            "schema": {
              "$ref": "#/definitions/GeneratedData"
            }
          },
          "500": {
            "description": "Error in uploading CF template to S3"
          }
        }
      }
    },
    "/aws/account/{UUID}": {
      "get": {
        "tags": [
          "Onboarding"
        ],
        "summary": "Checks if RoleARN has been received",
        "description": "This API is called continously to check if the user has created the stack and RoleARN has been sent by AWS SNS",
        "operationId": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "UUID",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "UUID of the UUID:RoleARN mapping"
          }
        ],
        "responses": {
          "200": {
            "description": "The RoleARN of the corresponding",
            "schema": {
              "$ref": "#/definitions/RoleArnData"
            }
          },
          "400": {
            "description": "UUID is not correct"
          },
          "404": {
            "description": "The RoleARN has not yet been delivered by SNS"
          }
        }
      }
    },
    "/savings/aws/i/{service}/{roleARN}": {
      "get": {
        "tags": [
          "Savings"
        ],
        "summary": "Savings for a particular service",
        "description": "This",
        "operationId": "",
        "parameters": [
          {
            "in": "path",
            "name": "service",
            "type": "string",
            "required": true,
            "description": "The service whose savings is to be calculated",
            "enum": [
              "ec2",
              "asg",
              "emr",
              "ecs",
              "ops"
            ]
          },
          {
            "in": "path",
            "name": "roleARN",
            "type": "string",
            "required": true,
            "description": "RoleARN of the customer for whom savings is to be calculated"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Savings object",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/ServiceSavingsData"
              }
            }
          },
          "400": {
            "description": "We dont have this roleArn in our db"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/savings/aws/a/{roleARN}": {
      "get": {
        "tags": [
          "Savings"
        ],
        "summary": "Savingssummary for all the services",
        "description": "This",
        "operationId": "",
        "parameters": [
          {
            "in": "path",
            "name": "roleARN",
            "type": "string",
            "required": true,
            "description": "RoleARN of the customer for whom savings is to be calculated"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Array of Savings Object",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceSavingsData"
              }
            }
          },
          "400": {
            "description": "We dont have this roleArn in our db"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/aws/webhook": {
      "post": {
        "tags": [
          "AWS Only"
        ],
        "summary": "Endpoint where SNS sends messages ",
        "description": "This endpoint is to be accessed only by AWS. There will be two type of requests: Subsription confirmation and actual messages.",
        "operationId": "awsWebhook",
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Amazon does not require a response"
          }
        }
      }
    }
  },
  "definitions": {
    "GeneratedData": {
      "type": "object",
      "properties": {
        "uuid": {
          "type": "string",
          "example": "070a62a7-3000-4eb3-88cb-6f7507695364",
          "description": "A version 4 UUID. Assigned to every new user.Used to map email/name to roleARN"
        },
        "templateLink": {
          "type": "string",
          "example": "https://s3.amazonaws.com/scp-test/test-cf-070a62a7-3000-4eb3-88cb-6f7507695364.template",
          "description": "Generated CF template link hosted on S3"
        }
      }
    },
    "RoleArnData": {
      "type": "object",
      "properties": {
        "RoleARN": {
          "type": "string",
          "example": "arn:aws:iam:9999999:role/batchly/batchly-trusted",
          "description": "RoleARN generated by AWS for us to access AWS info for a particular customer"
        }
      }
    },
    "UserData": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "example": "John Doe"
        },
        "email": {
          "type": "string",
          "example": "abc@xyz.com"
        },
        "RoleARN": {
          "type": "string",
          "example": "arn:aws:iam:9999999:role/batchly/batchly-trusted",
          "description": "RoleARN generated by AWS for us to access AWS info for a particular customer"
        },
        "UUID": {
          "type": "string",
          "example": "070a62a7-3000-4eb3-88cb-6f7507695364",
          "description": "A version 4 UUID.Assigned to every new user.Used to map email/name to roleARN"
        },
        "organisation": {
          "type": "string",
          "example": "Swiggy"
        }
      }
    },
    "AlternateData": {
      "type": "object",
      "properties": {
        "for": {
          "type": "string",
          "description": "For which type it is a replacement of"
        },
        "count": {
          "type": "integer",
          "description": "Count of this instance type"
        }
      }
    },
    "RegionSavingsDataObjectItem": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Instance type"
        },
        "count": {
          "type": "integer",
          "description": "Orignal count ie without considering the instances it is the alternative for"
        },
        "odPrice": {
          "type": "number",
          "format": "double"
        },
        "spotPrice": {
          "type": "number",
          "format": "double"
        },
        "platform": {
          "type": "string",
          "enum": [
            "linux",
            "windows"
          ]
        },
        "alternativeFor": {
          "type": "array",
          "description": "Instances it is acting as an alternative for",
          "items": {
            "$ref": "#/definitions/AlternateData"
          }
        }
      }
    },
    "RegionSavingsDataObject": {
      "type": "object",
      "properties": {
        "region": {
          "type": "string"
        },
        "totalOd": {
          "type": "number",
          "format": "double"
        },
        "totalSpot": {
          "type": "number",
          "format": "double"
        },
        "savings": {
          "type": "number",
          "format": "double"
        },
        "data": {
          "type": "array",
          "description": "Description of different instance types used by customer",
          "items": {
            "$ref": "#/definitions/RegionSavingsDataObjectItem"
          }
        }
      }
    },
    "ServiceSavingsData": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "enum": [
            "ec2",
            "emr",
            "ecs",
            "ops",
            "asg"
          ]
        },
        "data": {
          "type": "array",
          "description": "Region wise savings data for the service",
          "items": {
            "$ref": "#/definitions/RegionSavingsDataObject"
          }
        }
      }
    }
  }
}
